{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
    {{ form_start(form) }}
    <h2>Agregue un Numero de Telefono</h2>
    <hr class="colorgraph">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="form-group">
                {{ form_widget(form.phone) }}
            </div>
        </div>
    </div>
    <hr class="colorgraph">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <input class="btn btn-primary btn-block btn-lg" tabindex="7" type="submit" value="Guardar" />
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="{{ path('persona_new') }}" class="btn btn-success btn-block btn-lg">Regresar</a>
        </div>
    </div>
{{ form_end(form) }}
    </div>
</div>
{% endblock %}
